venv/
.venv/
env/
.env/
activate
*.pyvenv.cfg


.env
.env.*
*.local


__pycache__/
*.pyc
*.pyo
*.pyd


build/
dist/
*.egg-info/
*.egg
pip-wheel-metadata/


*.db
*.sqlite
*.sqlite3

*.log
logs/


.vscode/


.idea/

*.sublime-project
*.sublime-workspace


.pytest_cache/
.coverage
htmlcov/
.tox/



.DS_Store

Thumbs.db
desktop.ini

.chroma_db/
chroma_db/*